<table class="table">
      <tr>
            <th>
                  <h3
                        style="padding-top: 6px; height: 40px; color: white; background-color: coral; text-align: center;width: 866px;">
                        OrderSummary</h3>
            </th>
      </tr>
      <tr>
            <th></th>
      </tr>
</table>
<table style="border:1px solid black;width:64%" class="table">
      <tr>


            <td style="padding-left: 40px;"><img src="~/content/1.jpg"
                        style="width: 122px;margin-top: 23px;height: 92px; padding-left: 15px;" /></td>
            <td style="font-family: sans-serif; font-size: initial; font-weight: underline;font-style: italic;">
                  <h3
                        style="margin-right: 98px;padding-top: 6px;height: 40px;color: white;margin-left: -252px;background-color: coral;text-align: center;width: 148%;background-color: cadetblue;">
                        Your order has been confirmed to
                  </h3>
            </td>

      </tr>



      <tr>
            <td colspan="2"
                  style="font-family: sans-serif;    text-align: center; font-size: initial; font-weight: underline; font-style: italic; margin-left: 166px; width: 116px;">

                  List of Menu Items &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Price for each item

            </td>

      </tr>
      <tr>
            <td></td>
      </tr>
      <tr>
            <td></td>
      </tr>

      <br /><br />
      <tr>
            <td colspan="2"
                  style="font-family: sans-serif;    text-align: center; font-size: initial; font-weight: underline; font-style: italic; margin-left: 166px; width: 116px;">

                  Total Price &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  &nbsp;Total price Here

            </td>

      </tr>

</table>
<br /><br />

<button type="submit" class="button" style="margin-left: 250px;">Back to Main Page</button>