<mat-horizontal-stepper labelPosition='bottom' #stepper>

  <mat-step [stepControl]='providerForm' errorMessage="Please fill all fields">

    <form [formGroup]='providerForm' #form=ngForm>

      <ng-template matStepLabel>Basic Information</ng-template>

      <h3>Pelase enter your basinc information below</h3>

      <mat-form-field>
        <input name="providerName" matInput='text' required formControlName="providerName" placeholder="Provider Name">
        <div *ngIf="submitted && !providerForm.controls.providerName?.valid">
          Provider Name is required
        </div>
      </mat-form-field>

      <mat-form-field>
        <input name='owner_names' matInput='text' required formControlName="ownerNames" placeholder="Owner Name(s)">
        <div *ngIf="submitted && !providerForm.controls.ownerNames?.valid">
          <div [hidden]="!providerForm.controls.ownerNames.errors.required">
            Owner Name(s) are required
          </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <input name='provider_email' matInput type="email" required formControlName="email" placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input name='password' matInput type='password' required formControlName="password" placeholder="Password">
      </mat-form-field>

      <button mat-button matStepperNext type='button'> Next </button>

    </form>

  </mat-step>

  <mat-step [stepControl]="addressForm">

    <form [formGroup]='addressForm'>

      <ng-template matStepLabel>Business Address</ng-template>

      <h3>Please enter your address below</h3>

      <mat-form-field>
        <input name='street' matInput='text' formControlName='street' placeholder="Street Address">
      </mat-form-field>

      <mat-form-field>
        <input name='city' matInput='text' formControlName='city' placeholder="City">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder='State' formControlName='state'>
          <mat-option *ngFor="let state of states;" [value]='state' required>{{state}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input name='zip' matInput type='text' formControlName='zip' placeholder="Zip Code">
      </mat-form-field>

      <button mat-button matStepperPrevious type='button'> Previous </button>
      <button mat-button matStepperNext type='button'> Next </button>
    </form>
  </mat-step>

  <mat-step [stepControl]='providerForm'>
    <form [formGroup]='providerForm' #form=ngForm>
      <ng-template matStepLabel>Date & Time Opened</ng-template>
      <h3>Pelase select the day(s) and times you will be open</h3>


      <mat-selection-list>
        <mat-list-option *ngFor="let days of daysOftheWeekGroup" checkboxPosition='before'>
          {{days}}
        </mat-list-option>
      </mat-selection-list>
      <!-- <mat-checkbox name='Days' formControlName='DoW' *ngFor="let days of daysOftheWeekGroup">
        {{days}}
      </mat-checkbox> -->

      <mat-form-field>
        
        <input matInput id='timeStart' [matDatepicker]="timeStart" placeholder="Time Opened">
        <mat-datepicker-toggle matSuffix [for]="timeStart"></mat-datepicker-toggle>
        <mat-datepicker type="time" clockStep='5' #timeStart></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput id='timeEnds' [matDatepicker]="timeEnds" placeholder="Time Closed">
        <mat-datepicker-toggle matSuffix [for]="timeEnds" ></mat-datepicker-toggle>
        <mat-datepicker type="time" clockStep='5' #timeEnds></mat-datepicker>
      </mat-form-field>

      <button mat-button matStepperPrevious type='button'> Previous </button>
      <button mat-button matStepperNext type='button'> Next </button>
    </form>
  </mat-step>

  <mat-step>
    <form (click)="onSubmit()">
      <ng-template matStepLabel>Confirm</ng-template>
      <h3>Please confirm your information below</h3>

      <button mat-button color='accent'>Submit info</button>
    </form>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Registraion Complete</ng-template>
    <h3>You have just been registered click the link below to log in and start cooking!</h3>
    <button routerLink='/login' mat-raised-button color='accent'>Go to Login</button>
  </mat-step>
</mat-horizontal-stepper>