<div class='container'>
  <h2>Log In</h2>
  <form class='log-in'>
    <div class='username'>
      <span>
        <input type="text" class='' name='username' required [(ngModel)]="model.username" placeholder="Username">
      </span>
    </div>

    <div class='password'>
      <span>
        <input type='password' class='' name='password' required [(ngModel)]='model.password' placeholder="Password">
      </span>
    </div>

    <div class='checkbox'>
      <input type='checkbox' [(ngModel)]='model.stayLoggedIn' name='isLoggedIn'><label
        for='stayLoggedIn'>Please check if you want to stay loggend in</label>
    </div>

    <div class='login-button'>
    <input type='submit' (click)='onSubmit()'>
    </div>
  </form>
</div>