<div>
  <form class='log-in' (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class='container'>
      <h2>Log In</h2>
      <div class='username'>
        <mat-form-field>
          <input matInput type="email" name='email' required email placeholder="Email" ngModel #email='ngModel'>
        </mat-form-field>
        <mat-error class='email-hint' *ngIf='!email.valid && email.touched'>
          Please enter a valid email address
        </mat-error>
      </div>

      <div class='password'>
        <mat-form-field>
          <input matInput type='password' name='password' required placeholder="Password" ngModel #password='ngModel'>
        </mat-form-field>
        <mat-error *ngIf="!password.valid && password.touched">
          Please enter a valid password
        </mat-error>
      </div>

      <div class='checkbox'>
        <mat-checkbox name='providerLogin' ngModel #providerLogin='ngModel'>
          Login as a Kitchen Provider?
        </mat-checkbox>
      </div>

      <div class='login-button'>
        <button mat-stroked-button color='accent' isRoundButton=true [disabled]='!f.valid'>Log In</button>
      </div>
    </div>
  </form>
</div>