.register-form{
    border: black solid 1px;
    background-color: #fbfbfb;
    width: fit-content;
    height: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    /* margin-left: 50%;
    margin-right: 50%; */
    position: relative;
    border-radius: 10px
}
span{
    width: 100%;
}