.mat-toolbar{
    background-color: #FB4040;
    align-self: center;
    font-size: 42px;
}
.mat-toolbar-row{
    color: whitesmoke;
    text-align: center;
}
section {
    position: relative;
  }
  
  section img {
      position: absolute;
  }
  
  .top {
      animation-name: fade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-direction: alternate;
  }
  
  @keyframes fade {
      0% {
          opacity: 1;
      }
      25% {
          opacity: 1;
      }
      75% {
          opacity: 0;
      }
      100% {
          opacity: 0;
      }
  }
  a:link {
    background-color: whitesmoke;
  }
  
  
  
  a:hover {
    background-color: #FB4040;
    text-decoration: underline;
    color:white;
  }
  
  /* a:active {
    background-color: hotpink;
  }  */

  .button1 {
    color: black;
    border: 2px solid #FB4040 ;
    padding: 22px 250px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    margin-left: 20px;
    font-family: Verdana,sans-serif;
    
    line-height: 1.5;
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #FB4040;
    padding: 20px; 
    width: 200px;
    height: 150px; 
  }
  .img1{
      border-radius: 50%;
      border: 2px solid black;
  }