<mat-toolbar color='primary'>
  <mat-toolbar-row>
    <span></span>Freedom Feast<span></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class='user-form'>
  <form [formGroup]='userForm'>
    <h3>User Registration</h3>

    <div>
      <mat-form-field>
        <input formControlName='username' placeholder="Username" matInput='text' required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input formControlName='email' placeholder="Email" matInput='email' required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input formControlName='password' placeholder="Password" matInput="password" required>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button class='submit-button' (click)='onSubmit(userForm)' color='accent'>Submit</button>
    </div>
  </form>
</div>