<mat-vertical-stepper [linear]='true' #stepper>
  <mat-step [stepControl]='customerFormGroup'>
    <form [formGroup]="customerFormGroup">
      <ng-template matStepLabel>Please enter your name below</ng-template>
      <mat-form-field>
        <input matInput placeholder="Customer Name" FormControlName='customerFormGroup' required>
      </mat-form-field>
      <div>
        <button mat-button MatStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]='addressFormGroup'> 
    <form [formGroup]='addressFormGroup'>
      <ng-template matStepLabel>Please check this is the right address you will like your order to be delivered</ng-template>
      <mat-form-field>
        <input matInput placeholder="Street Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="State">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Zip Code">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number">
      </mat-form-field>
    </form>
  </mat-step>

  <mat-step [stepControl]='paymentFormGroup'>
    <form [formGroup]='paymentFormGroup'>
      <ng-template matStepLabel>Please enter your payment information below</ng-template>
      <mat-form-field>
        <input matInput placeholder="Name on Card">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Card Number">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="CVV">
      </mat-form-field>
    </form>
  </mat-step>
</mat-vertical-stepper>