<mat-sidenav-container class="sidenav">
    <mat-sidenav mode='side' #sidenav role="navigation">
        <div>
            <a mat-button routerLink='settings'>Account Settings</a>
        </div>
            
        <div>
            <a mat-button routerLink=''>Order History</a>
        </div>
        <div>
            <a mat-button (click)=logOut()>Log Out</a>
        </div>
            
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color='primary'>
            <mat-toolbar-row fxFlex fxLayout fxLayoutGap='10px'>
                
                <div>
                    <a mat-icon-button class='menu' (click)="sidenav.toggle()">
                        <mat-icon>menu</mat-icon>
                    </a>
                </div>

                <div fxFlex fxLayout fxLayoutAlgin='flex-start'>
                    <a routerLink="/welcome" class='title'>
                        Freedom Feast
                    </a>
                </div>

                <div fxFlex fxLayout fxLayoutAlign='flex-end'>
                    <a mat-icon-button routerLink='shopping-cart'>
                        <mat-icon matBadgeColor='accent' class='notify-icon' matBadge={{itemCount}}
                            matBadgePosition='after above'>
                            shopping_cart
                        </mat-icon>
                    </a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>