<div fxLayout>
  <mat-card *ngFor="let provider of providers_list;" tabindex="0">
    <mat-card-header>
      <mat-card-title>{{provider.name}}</mat-card-title>
      <mat-card-subtitle>{{provider.specialty}}</mat-card-subtitle>
      <mat-card-subtitle>Time Opened</mat-card-subtitle>
      <img mat-card-md-img src="" aria-placeholder="An image appears here">
    </mat-card-header>

    <mat-card-actions>
      <button mat-raised-button color='accent' (click)="goToMenu()">
        Order from Provider</button>
    </mat-card-actions>
  </mat-card>
</div>